*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(27, 26, 31);
}
.container{
    width: 1100px;
    margin: 0 auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
    list-style-type: none
}
.header{
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(27, 26, 31);
}
.header__nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}
.header__list{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
}
.header__list--item{

    margin: 10px;
}
#inp{
    padding: 5px 40px;
    border-right: none;
    text-decoration: underline;
    background-color: rgb(27, 26, 31);
}
.heaader__btn{
    color: #fff;
    padding: 9px 30px;
    border-radius: 17px;
    border: 1px solid #fff;
    background-color: rgb(27, 26, 31);
}
a{
    color: #fff;
    text-decoration: none;
}
select{
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}
option{
    background-color: rgb(27, 26, 31);
}


.things{
    width: 1100px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    background-color: rgb(27, 26, 31);
}
.thingstit{
    position: absolute;
    left: 0;
    color: #fff;
}
.thingstext{
    position: absolute;
    right: 0;
    color: #fff;
}
.card{
    color: #fff;
    border: none;
    background-color:rgb(27, 26, 31) ;
}